[Unit]
Description=Traefik Adguard Certificate Synchronization Script
After=docker.service

[Service]
Type=oneshot
EnvironmentFile=/opt/traefik-adguard-sync/config.env
ExecStart=/bin/bash -c '/usr/bin/python3 /opt/traefik-adguard-sync/sync.py --traefik-path ${TRAEFIK_PATH} --adguardhome-path {ADGUARD_PATH} --domain-name {DOMAIN_NAME}'


[Install]
WantedBy=multi-user.target